# ===== Build artifacts =====
build*/
out/
install/

# ===== Conan =====
.conan/
.conan2/

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json

# ===== Visual Studio =====
.vs/
*.sln
*.vcxproj*
*.filters
*.user

# ===== Compiled outputs =====
*.exe
*.dll
*.lib
*.pdb
*.obj

# ===== OS =====
Thumbs.db
.DS_Store


test_package/build
CMakeUserPresets.json